{
  "plugins": ["prettier-plugin-java"],
  "printWidth": 150,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/*.java"],
      "options": {
        "printWidth": 150,
        "tabWidth": 4
      }
    },
    {
      "files": ["**/*.vue", "**/*.ts", "**/*.js"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
